# Secrets and Environment
.streamlit/
.env
*.pem
*.key

# Data directories (Zero real patient data, zero local data on disk)
data/

# Python cache & virtualenv
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/
nima/f464445c-3f0a-477f-91a5-0080cfeac7e8
